html { 
    margin: 0; 
    padding: 0; 
}

body { 
    font-family: sans-serif;
    background-color: dimgray;
    color: #333; 
}

h1 {
    text-align: center;
    margin: 10% 10% 10% 10%;
    user-select: none;
}

#start_button:hover {
 background-color:rgb(0, 70, 100);
 color:rgb(0, 122, 170);
    border-top-color:rgb(0, 95, 136);
    border-left-color:rgb(0, 95, 136);
    border-bottom-color:rgb(0, 50, 71);
    border-right-color:rgb(0, 50, 71);
}

#playing_screen {
    width: 1500px;
    height: 700px;
    border: 3px solid black;
    position: relative;
    margin: auto;
    background: gray;
    font-size:1.6em;
    text-align: center;
}

#start_button {
    width: 225px;
    height: 110px;
    border: 5px solid;
    position: absolute;
    margin: auto;
    background-color:rgb(0, 122, 170);
    color:rgba(0, 183, 255, 1);
    top: 300px;
    left: 634px;
    border-radius: 10px;
    border-bottom-color:rgb(0, 100, 139);
    border-right-color:rgb(0, 100, 139);
    border-left-color:rgb(0, 151, 211);
    border-top-color:rgb(0, 151, 211);
}

#wander_zone {
    width: 225px;
    height: 225px;
    border: 3px solid rgba(0,255,0,0);
    position: absolute;
    margin: auto;
    border-style: dashed;
    background:  rgba(0,255,0,0);
    top: 1px;
    left: 1268px;
}

#chaser_zone {
    width: 225px;
    height: 225px;
    border: 3px solid rgba(255,0,0,0);
    position: absolute;
    margin: auto;
    border-style: dashed;
    background:  rgba(255,0,0,0);
    top: 234px;
    left: 1268px;
}

#split_zone {
    width: 225px;
    height: 225px;
    border: 3px solid rgba(255,255,0,0);
    position: absolute;
    margin: auto;
    border-style: dashed;
    background:  rgba(255,255,0,0);
    top: 467px;
    left: 1268px;
}

.player {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,1);
    border: 3px solid black;
    position: absolute;
    top: -100px;
    left: -100px;
}

.wanderer {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 83, 14);
    border: 3px solid rgb(0, 0, 0);
    position: absolute;
    top: 250px;
    left: 500px;
}

.chaser {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(83, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    position: absolute;
    top: 250px;
    left: 500px;
}

.power {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgba(6, 15, 20, 0);
    border: 3px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 250px;
    left: 500px;
}